@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url("fridge.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 500px;
}

#mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#magnetheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}

.fridge {
    width: 400px;
    height: 250px;
    background-color: #f9fafb;
    /* border: 2px solid #e5e7eb; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    position: absolute;
    overflow: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 10px;
    top: 140px;
    left: 50px;
  }
.fridge2 {
    width: 250px;
    height: 250px;
    background-color: #356ca2;
    /* border: 2px solid #e5e7eb; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    position: absolute;
    /* overflow: hidden; */
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    top: 390px;
    left: 50px;
  }

.magnet {
    position: absolute;
    /* z-index: 9; */
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    
}